/******** Koha Staff Login page */
/* Center login block */
#main_auth .main.container-fluid {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Login form box */
#main_auth #login {
    background: #ffffff;
    padding: 32px 36px;
    border-radius: 14px;
    box-shadow: 0 8px 28px rgba(0, 0, 0, 0.08);
    width: 100%;
    max-width: 380px;
}

/* Title */
#main_auth #login h1 {
    text-align: center;
    margin-bottom: 24px;
    font-size: 30px;
    font-weight: 600;
    background: url(https://prolibralis.github.io/prolibra_front/img/logo-prolibra-wp.svg) no-repeat top center;
    background-size: 250px 74px; /* width height */
}

#main_auth #login h1 a {
    text-decoration: none;
    color: #222;
}

/* Labels */
#main_auth #login label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    color: #444;
}

/* Inputs */
#main_auth #login input[type="text"],
#main_auth #login input[type="password"],
#main_auth #login select {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 16px;
    border: 1px solid #d8dee8;
    border-radius: 8px;
    font-size: 14px;
    background: #fafbfc;
}

/* Button */
#main_auth #submit-button {
    width: 100%;
    padding: 11px;
    border: none;
    border-radius: 8px;
    background: #00ADB5;
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

#main_auth #submit-button:hover {
    background: #393E46;
}
